.cls-container {
  width: 100%;
  margin: 50px auto; }
  @media (min-width: 500px) {
    .cls-container {
      width: 80%; } }

.cls-body {
  padding: 1px; }

.cls-px-0 {
  padding-left: 0px;
  padding-right: 0px; }

.cls-title {
  font-weight: 500;
  font-size: 18px;
  width: 100%; }
  @media (min-width: 500px) {
    .cls-title {
      width: 30%; } }

.cls-capitalize-text {
  text-transform: capitalize; }

.cls-title-container {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.cls-flex {
  display: flex; }

.cls-msg-container {
  padding: 15px 0px;
  width: 100%; }
  @media (min-width: 500px) {
    .cls-msg-container {
      width: 70%; } }

.cls-msg {
  background: #ffe6e6;
  padding: 2px 10px;
  color: #660000;
  display: block;
  font-size: 15px;
  border-left: 3px solid #660000; }

.cls-right-side {
  width: 50%; }

.cls-form-side {
  width: 100%; }
  @media (min-width: 500px) {
    .cls-form-side {
      width: 50%; } }

.cls-input-label {
  padding-left: 0px;
  font-weight: 500;
  width: 30%; }

.cls-input {
  width: 60%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #ccc; }

.cls-required-field::after {
  content: '*';
  color: red;
  margin-left: 3px; }

.cls-textarea {
  width: 70%;
  height: 150px;
  resize: vertical; }

.cls-primary-btn {
  background: #6666ff;
  border: none;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 5px 30px #ccc;
  padding-left: 20px;
  padding-right: 20px; }

.cls-title-2 {
  font-size: 16px;
  font-weight: 500; }

.cls-check-list-container {
  padding-left: 30px; }
  .cls-check-list-container input {
    margin-top: 6px;
    margin-right: 15px; }

.cls-capitalize-first-letter::first-letter {
  text-transform: uppercase; }

.cls-flex-wrap {
  flex-wrap: wrap; }
  @media (min-width: 500px) {
    .cls-flex-wrap {
      flex-wrap: nowrap; } }
