<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
      /*
      -----------
      normalization css code
      -----------
      */

      html {
        font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: border-box;
        margin: 0;
      }

      html {
        padding: 0px;
        margin: 0px;
        height: 100%;
      }

      body {
        padding: 0px;
        margin: 0px;
        height: 100%;
      }

      .p15px {
        padding: 15px;
      }

      .p10px {
        padding: 10px;
      }

      button {
        cursor: pointer;
      }
    </style>


    <link href="./assets/loader.css" rel="stylesheet">
    <link href="./assets/style.css" rel="stylesheet">
    <title>index</title>
  </head>

  <body class="cls-body">
    <div id="app" style="display: none" class="p15px cls-container">
      <div class="p15px cls-px-0 cls-title-container cls-flex cls-flex-wrap">
        <h1 class="p15px cls-px-0 cls-title cls-capitalize-first-letter">command en ligne</h1>
        <div class="cls-msg-container">
          <span v-show="error" id="error" class="cls-msg"></span>
        </div>
      </div>

      <!-- no need for a form because I am using ajax -->
      <div class="p15px cls-px-0 cls-flex cls-flex-wrap">
        <div class="p15px cls-form-side cls-px-0   ">
          <div class="p15px cls-px-0 cls-flex">
            <span class="p10px cls-input-label cls-required-field">Nom</span>
            <input  type="text" name="nom" placeholder="placeholder" class="p10px cls-input">
          </div>
          <div class="p15px cls-px-0 cls-flex ">
            <span class="p10px cls-input-label cls-required-field">Telephone</span>
            <input  type="text" name="telephone" placeholder="placeholder" class="p10px cls-input">
          </div>
          <div class="p15px cls-px-0 cls-flex ">
            <span class="p10px cls-input-label">Category</span>
            <select id="categorySelect" class="p10px cls-input">
              <option value="" disabled selected>Choisir une catégorie</option>
              <option value="Alimentaire">Alimentaire</option>
              <option value="Technologie">Technologie</option>
            </select>
          </div>
          <div class="p15px cls-px-0 cls-flex   ">
            <span class="p10px cls-input-label cls-required-field">Message</span>
            <textarea name="message" class="p10px cls-input cls-textarea" style="resize: vertical; margin-top: 0px; margin-bottom: 0px; height: 130px;"></textarea></div>
        </div>
        <div v-if="products.length" class="p15px cls-form-side cls-right-side cls-px-0">
          <div class="p15px cls-flex  ">
            <h1 class="cls-title-2 cls-capitalize-text">produits supplémentaire</h1>
          </div>
          
          <div v-for="product in products" class="p15px cls-px-0 cls-flex cls-check-list-container  ">
            <input type="checkbox" name="products" :value="product">
            <span class="cls-capitalize-first-letter">{{ product }}</span>
          </div>

        </div>
      </div>
      <div class="cls-flex cls-flex-wrap">
        <div class="cls-form-side">
          <div class="cls-flex ">

            <!--this label is used to align the button in the same line with inputs-->
            <span class="p10px cls-input-label"></span>
            <!-- submit button -->
            <button id="submitButton" class="p10px cls-capitalize-text cls-primary-btn ">enregistrer</button></div>
        </div>
        <div class="cls-form-side cls-right-side"></div>
      </div>

      <!-- loader -->
      <div style="display: none;" id="loader">
        
        <div class="container">
            <div class="boxes">
              <div class="box">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
              <div class="box">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
              <div class="box">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
              <div class="box">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
            </div>
        </div>
        
      </div>
    </div>

    <!-- axios instead of ajax -->
    <script src="./js/axios.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="./js/vue.js"></script>

    <!-- Vue.js -->
    <script>

      var app = new Vue({
        el: '#app',
        data: {
          products: [],

          error: false,
        },

        mounted() {
          this.$el.style.display = 'block';
          this.assignCaregoryEventListener();
          this.assignSubmitButtonEventListener();
        },

        methods: {

          startLoader() {
            document.querySelector('#loader').style.display = 'block';
          },

          stopLoader() {
            document.querySelector('#loader').style.display = 'none';            
          },

          /**
          * validate input entries
          * @return boolean
          */
          validateInputs() {
            let booleanToBeReturned = true;

            // get all required inputs
            // and loop through the array and check the value
            document.querySelectorAll('.cls-required-field').forEach(elem => {
              // get the name of each input
              const nameValue = elem.textContent.toLowerCase();
              // get element to be checked (input, textarea..etc)
              const elementToCheck = document.querySelector('*[name='+nameValue+']');
            
              if(!elementToCheck || !elementToCheck.value.length) {
                
                booleanToBeReturned =  false;
              }

            })

            return booleanToBeReturned;
          },

          /**
          * validate checked checkboxes
          * @param {Integer} lengthToCheck
          * @return boolean
          */
          validateCheckdProducts(lengthToCheck) {

            if(document.querySelectorAll('input:checked').length < lengthToCheck) {
              return false;
            }

            return true;
          },

          assignSubmitButtonEventListener() {
            document.querySelector('#submitButton').onclick = e => {
              if(!this.validateInputs()) {
                
                this.showError('Veuillez remplir les champs requis.');

              } 
              // category is selected && at least two products selected
              else if(document.querySelector('#categorySelect').value.length && !this.validateCheckdProducts(2)) {
                
                this.showError('Vous devez vérifier au moins deux produits.');

              } else {
                
                // hide any errors
                this.error = false;

                alert('Every thing is okey, should send ajax call.');

              }
              
            }
          },

          /**
          * updates right side list asynchronously using axios
          * @return void
          */
          assignCaregoryEventListener() {

            const selectElem = document.querySelector('#categorySelect');

            selectElem.onchange = e => {
              // get value after the change
              const selectedCategoryValue = selectElem.value;

              this.startLoader();

              axios.get(window.location.href.replace('/index.html','') + '/bonsElement.php?category=' + selectedCategoryValue)
                .then( (response) => {
                  // handle success
                  console.log(response.data);
                  this.products = response.data;

                  setTimeout(() => {
                    this.stopLoader();
                  }, 3000);
                })
                .catch((error) => {
                  // handle error
                  console.log(error);

                  setTimeout(() => {
                    this.stopLoader();
                  }, 3000);
                  this.showError(error);
                });
            }
          },

          /**
          * shows an error message
          * @param {String} msg
          */
          showError(msg) {
            this.error = true;
            document.querySelector('#error').textContent = msg;
            
          }
        }
      })
    </script>
  </body>

</html>